body{
    height: auto;
}



#topo{
    max-width: 100%;
    height: 100px;
    background-color: rgba(34, 64, 141, 1);
}

div{
    text-align: center;
    
}

#nome{
    margin-top: 5vh;
}

#cpf{
    margin-top: 5vh;
}

#nascimento{
    margin-top: 5vh;

}

#senha{
    margin-top: 5vh;
}

#botao{
    margin-top: 5vh;
    background-color: rgba(34, 64, 141, 1);
}